[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:fluffy-willa-42-team/libft.git
[submodule "lib/wraloc"]
	path = lib/wraloc
	url = git@github.com:lorenuars19/wraloc.git
[submodule "lib/vector-lib"]
	path = lib/vector-lib
	url = git@github.com:fluffy-willa-42-team/vector-lib.git
